<div class="container">
<h4 class="log-in-heading">Sign Up</h4>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="input-field">
    <i class="material-icons prefix">account_circle</i>
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="input-field">
    <i class="material-icons prefix">vpn_key</i>
    <%= f.label :password %>
   <!--  <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %> --><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="input-field">
    <i class="material-icons prefix">vpn_key</i>
    <%= f.label :password_confirmation, "Password Confirmation" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="row">
    <div class="actions centered">
      <button class="btn waves-effect waves-light" type="submit" name="action">Sign Up</button>
    </div>
  </div>
<% end %>

  <div class="row">
    <div class="centered">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
