<div class="container">
<h4 class="log-in-heading">Log In</h4>

<% if notice %>
  <div class="alert alert-success centered error-messages" role="alert">
    <button type="button" class="btn no-upcase" data-dismiss="alert">
      <span aria-hidden="true"><%= notice %></span>
    </button>
  </div>
<% end %>

<% if alert %>
  <div class="alert alert-danger centered error-messages" role="alert">
    <button type="button" class="btn no-upcase" data-dismiss="alert">
      <li aria-hidden="true"><%= alert %></li>
      <%= devise_error_messages! %>
    </button>
  </div>
<% end %>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="input-field col s12">
    <i class="material-icons prefix">account_circle</i>
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="input-field col s12">
    <i class="material-icons prefix">vpn_key</i>
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="row">
    <div class="actions centered">
      <button class="btn waves-effect waves-light" type="submit" name="action">Log In</button>
    </div>
  </div>
<% end %>

  <div class="row">
    <div class="centered">
      <%= render "devise/shared/links" %>
    </div>
  </div>

</div>
