<%= form_for(@selection) do |f| %>
  <% if @selection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@selection.errors.count, "error") %> prohibited this selection from being saved:</h2>

      <ul>
      <% @selection.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h5>What are you in the mood for?</h5>
  <div class="row">
    <div class="field col s6">
      <%= f.check_box :healthy %>
      <%= f.label :healthy %>
    </div>
    <div class="field col s6">
      <%= f.check_box :spicy %>
      <%= f.label :spicy %>
    </div>
  </div>
  <div class="row">
    <div class="field col s6">
      <%= f.check_box :cheesy %>
      <%= f.label :cheesy %>
    </div>
    <div class="field col s6">
      <%= f.check_box :sandwiches %>
      <%= f.label :sandwiches %>
    </div>
  </div>
  <div class="row">
    <div class="field col s6">
      <%= f.check_box :tacos %>
      <%= f.label :tacos %>
    </div>
    <div class="field col s6">
      <%= f.check_box :asian %>
      <%= f.label :asian %>
    </div>
  </div>
  <div class="row">
    <div class="field col s6">
      <%= f.check_box :fusion %>
      <%= f.label :fusion %>
    </div>
    <div class="field col s6">
      <%= f.check_box :bbq %>
      <%= f.label :bbq, "BBQ" %>
    </div>
  </div>
  <div class="row">
    <div class="field col s6">
      <%= f.check_box :dessert %>
      <%= f.label :dessert %>
    </div>
    <div class="field col s6">
      <%= f.check_box :burgers %>
      <%= f.label :burgers %>
  </div>
  </div>
  <div class="row">
    <div class="field col s6">
      <%= f.check_box :fried %>
      <%= f.label :fried %>
    </div>
    <div class="field col s6">
      <%= f.check_box :seafood %>
      <%= f.label :seafood %>
    </div>
  </div>

  <h5>What should the setting be like?</h5>
  <div class="row">
    <div class="input-field col s6">
      <i class="material-icons prefix">credit_card</i>
      <%= f.label :price_range %>
      <%= f.text_field :price %>
    </div>
    <div class="input-field col s6">
      <i class="material-icons prefix">my_location</i>
      <%= f.label :distance_from_you %>
      <%= f.text_field :distance %>
    </div>
  </div>
  <div class="row">
    <div class="field col s4">
      <%= f.check_box :take_out %>
      <%= f.label :take_out %>
    </div>
    <div class="field col s4">
      <%= f.check_box :outdoor_seating %>
      <%= f.label :outdoor_seating %>
    </div>
    <div class="field col s4">
      <%= f.check_box :serves_alcohol %>
      <%= f.label :serves_alcohol %>
    </div>
  </div>
  <!-- <div class="field">
    <%= f.label :meal_id %>
    <%= f.text_field :meal_id %>
  </div> -->
  <div class="row">
    <div class="actions center">
      <button class="btn-large waves-effect waves-light" type="submit" name="action">Get Pick!</button>
    </div>
  </div>
<% end %>


