<%= form_for(@selection) do |f| %>
  <% if @selection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@selection.errors.count, "error") %> prohibited this selection from being saved:</h2>

      <ul>
      <% @selection.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h5>What are you in the mood for?</h5>
  <div class="row">
    <div class="field col s6">
      <%= f.check_box :healthy %>
      <%= f.label :healthy %>
    </div>
    <div class="field col s6">
      <%= f.check_box :spicy %>
      <%= f.label :spicy %>
    </div>
  </div>
  <div class="row">
    <div class="field col s6">
      <%= f.check_box :cheese %>
      <%= f.label :cheese %>
    </div>
    <div class="field col s6">
      <%= f.check_box :sandwiches %>
      <%= f.label :sandwiches %>
    </div>
  </div>
  <div class="row">
    <div class="field col s6">
      <%= f.check_box :tacos %>
      <%= f.label :tacos %>
    </div>
    <div class="field col s6">
      <%= f.check_box :asian %>
      <%= f.label :asian %>
    </div>
  </div>
  <div class="row">
    <div class="field col s6">
      <%= f.check_box :fusion %>
      <%= f.label :fusion %>
    </div>
    <div class="field col s6">
      <%= f.check_box :bbq %>
      <%= f.label :bbq, "BBQ" %>
    </div>
  </div>
  <div class="row">
    <div class="field col s6">
      <%= f.check_box :dessert %>
      <%= f.label :dessert %>
    </div>
    <div class="field col s6">
      <%= f.check_box :burgers %>
      <%= f.label :burgers %>
  </div>
  </div>
  <div class="row">
    <div class="field col s6">
      <%= f.check_box :fried %>
      <%= f.label :fried %>
    </div>
    <div class="field col s6">
      <%= f.check_box :seafood %>
      <%= f.label :seafood %>
    </div>
  </div>

  <h5>What should the setting be like?</h5>
  <div class="row">
    <div class="input-field col s11 m6">
      <%= f.select :price, [ ["Choose your price tier", "1,2,3,4"],["$", 1], ["$$", 2], ["$$$", 3], ["$$$$", 4] ]  %>
      <%= f.label :price, "Price" %>
    </div>
    <div class="input-field col s11 m6">
      <!-- <i class="material-icons prefix">my_location</i> -->
      <%= f.select :distance, [ ["Choose your distance", 10], ["< 1 Mile Away",1], ["< 5 Miles Away",5], ["< 10 Miles Away", 10] ] %>
      <%= f.label :distance, "Distance from You" %>
    </div>
  </div>
  <div class="row" id="bottom-options">
    <div class="field col s4">
      <%= f.check_box :take_out %>
      <%= f.label :take_out %>
    </div>
    <div class="field col s4">
      <%= f.check_box :outdoor_seating %>
      <%= f.label :outdoor_seating %>
    </div>
    <div class="field col s4">
      <%= f.check_box :serves_alcohol %>
      <%= f.label :serves_alcohol %>
    </div>
  </div>
  <div class="field">
    <%= f.hidden_field :lat,  id: 'lat-input' %>
    <%= f.hidden_field :long, id: 'long-input' %>
  </div>
  <div id='zip'>
    <h5>Where are you?</h5>
    <div class="row">
        <div class="input-field col 4 centered">
          <%= f.label :zip_code, "Zip Code" %>
          <%= f.text_field :zip_code %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="actions centered">
      <button class="btn-large waves-effect waves-light get-pick-btn" type="submit" name="action">Get Pick!</button>
    </div>
  </div>
<% end %>


