<%= form_for(@selection) do |f| %>
  <% if @selection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@selection.errors.count, "error") %> prohibited this selection from being saved:</h2>

      <ul>
      <% @selection.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :healthy %>
    <%= f.check_box :healthy %>
  </div>
  <div class="field">
    <%= f.label :spicy %>
    <%= f.check_box :spicy %>
  </div>
  <div class="field">
    <%= f.label :cheesy %>
    <%= f.check_box :cheesy %>
  </div>
  <div class="field">
    <%= f.label :sandwiches %>
    <%= f.check_box :sandwiches %>
  </div>
  <div class="field">
    <%= f.label :tacos %>
    <%= f.check_box :tacos %>
  </div>
  <div class="field">
    <%= f.label :asian %>
    <%= f.check_box :asian %>
  </div>
  <div class="field">
    <%= f.label :fusion %>
    <%= f.check_box :fusion %>
  </div>
  <div class="field">
    <%= f.label :bbq %>
    <%= f.check_box :bbq %>
  </div>
  <div class="field">
    <%= f.label :dessert %>
    <%= f.check_box :dessert %>
  </div>
  <div class="field">
    <%= f.label :burgers %>
    <%= f.check_box :burgers %>
  </div>
  <div class="field">
    <%= f.label :fried %>
    <%= f.check_box :fried %>
  </div>
  <div class="field">
    <%= f.label :seafood %>
    <%= f.check_box :seafood %>
  </div>
  <div class="field">
    <%= f.label :price %>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :distance %>
    <%= f.text_field :distance %>
  </div>
  <div class="field">
    <%= f.label :take_out %>
    <%= f.check_box :take_out %>
  </div>
  <div class="field">
    <%= f.label :outdoor_seating %>
    <%= f.check_box :outdoor_seating %>
  </div>
  <div class="field">
    <%= f.label :serves_alcohol %>
    <%= f.check_box :serves_alcohol %>
  </div>
  <!-- <div class="field">
    <%= f.label :meal_id %>
    <%= f.text_field :meal_id %>
  </div> -->
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<form action="submit">
    <p>
      <input type="checkbox" id=":serves_alcohol" />
      <label for=":serves_alcohol">Serves Alcohol</label>
    </p>
  </form>
