<div class="container">
<% if @foursquare.results_count.zero? %>
   <%= @foursquare.response['warning']['text'] %>
<% else %>
  <div class="row">
    <div class="address col s6">
      <%= @foursquare.pick_name %></br>
      <%= @foursquare.pick_address %></br>
      <%= @foursquare.pick_city_and_zip %></br>
    </div>
    <div class="contact col s6">
      <i class="material-icons">phone</i><%= @foursquare.pick_phone_number %></br>
      <% if @foursquare.pick_website %>
      <%= link_to @foursquare.pick_website, @foursquare.pick_website %>
      <% else %>
      <% end %>
    </div>
  </div>

  </br>

  <div class="row">
    <div class="info col s6">
      Price Tier (1-4): <%= @foursquare.pick_price %></br>
      Rating: <%= @foursquare.pick_rating %>
    </div>
  </div>
<% end %>
</div>
