<!--

<p>
  <strong>Healthy:</strong>
  <%= @selection.healthy %>
</p>

<p>
  <strong>Spicy:</strong>
  <%= @selection.spicy %>
</p>

<p>
  <strong>Cheesy:</strong>
  <%= @selection.cheesy %>
</p>

<p>
  <strong>Sandwiches:</strong>
  <%= @selection.sandwiches %>
</p>

<p>
  <strong>Tacos:</strong>
  <%= @selection.tacos %>
</p>

<p>
  <strong>Asian:</strong>
  <%= @selection.asian %>
</p>

<p>
  <strong>Fusion:</strong>
  <%= @selection.fusion %>
</p>

<p>
  <strong>Bbq:</strong>
  <%= @selection.bbq %>
</p>

<p>
  <strong>Dessert:</strong>
  <%= @selection.dessert %>
</p>

<p>
  <strong>Burgers:</strong>
  <%= @selection.burgers %>
</p>

<p>
  <strong>Fried:</strong>
  <%= @selection.fried %>
</p>

<p>
  <strong>Seafood:</strong>
  <%= @selection.seafood %>
</p>

<p>
  <strong>Price:</strong>
  <%= @selection.price %>
</p>

<p>
  <strong>Distance:</strong>
  <%= @selection.distance %>
</p>

<p>
  <strong>Take out:</strong>
  <%= @selection.take_out %>
</p>

<p>
  <strong>Outdoor seating:</strong>
  <%= @selection.outdoor_seating %>
</p>

<p>
  <strong>Serves alcohol:</strong>
  <%= @selection.serves_alcohol %>
</p>

<p>
  <strong>Meal:</strong>
  <%= @selection.meal %>
</p>

<%= link_to 'Selections', selections_path %>
 -->

<%= Foursquare.new.pick_from_selection(Selection.last)['response']['groups'].first['items'].map { |x| x['venue']['name'] }.uniq %>
