
<div>
  <%= Foursquare.pick_name %></br>
  <%= Foursquare.pick_address %></br>
  <%= Foursquare.pick_city_and_zip %></br>
  <%= Foursquare.pick_phone_number %></br>
  <%= link_to Foursquare.pick_website, Foursquare.pick_website %>
</div>

</br>

<div>
  Price: <%= Foursquare.pick_price %></br>
  Rating: <%= Foursquare.pick_rating %>
</div>
