<div class="container pick-show-page">
<% if @foursquare.results_count.zero? %>
   <%= @foursquare.response['warning']['text'] %>
<% else %>
  <div class="row">
    <div class="address col s6">
      <%= @foursquare.pick_name %></br>
      <%= @foursquare.pick_address.gsub(/\([^)]*\)/,"") %></br>
      <%= @foursquare.pick_city_and_zip %></br>
    </div>
    <div class="contact col s6">
      <i class="material-icons">phone</i><%= @foursquare.pick_phone_number %></br>
      <% if @foursquare.pick_website %>
      <%= link_to @foursquare.pick_website, @foursquare.pick_website %>
      <% else %>
      <% end %>
    </div>
  </div>

  </br>

  <div class="row">
    <div class="info col s6">
      Price Tier (1-4): <%= @foursquare.pick_price %></br>
      Rating: <%= @foursquare.pick_rating %>
    </div>
  </div>
<% end %>
</div>

<div class="row">
<div class="google-maps centered">
  <iframe
  width="80%"
  height="450"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=<%=ENV['google_maps_api_key']%>&q=<%= @foursquare.pick_name+"+"+@foursquare.pick_address.gsub(/\([^)]*\)/,"")%>" allowfullscreen>
</iframe>
</div>
</div>

<footer class="page-footer red lighten-1">
<div class="footer-copyright">
      <div class="container">
      Made by Mike Pitre, 2015.
      </div>
    </div>
  </footer>


