<main>
<div class="container pick-show-page">
<% if @foursquare.results_count.zero? %>
   <%= @foursquare.response['warning']['text'] %>
<% else %>
  <div class="row">
    <div class="our-pick-header centered">
      <h5>Our pick for you is:</h5>
      <h3><%= @foursquare.pick_name %></h3>
    </div>
  </div>
  <div class="row">
    <div class="address col s6">
      <i class="material-icons">location_on</i><%= @foursquare.pick_name %></br>
      <div class="margin-right-34"><%= @foursquare.pick_address.gsub(/\([^)]*\)/,"") %></div></br>
      <div class="margin-right-34"><%= @foursquare.pick_city_and_zip %></div></br>
    </div>
    <div class="contact col s6">
    <% if @foursquare.pick_phone_number %>
      <i class="material-icons">phone</i><%= @foursquare.pick_phone_number %>
      <% end %>
      </br>
      <% if @foursquare.pick_website %>
      <i class="material-icons">web</i><%= link_to @foursquare.pick_website.gsub(/(?:f|ht)tps?:\/[^\s]/,"").gsub(/www./,""), @foursquare.pick_website %>
      <% else %>
      <% end %>
      </br>
      <i class="material-icons">credit_card</i>Price Tier: <%= "$" * @foursquare.pick_price.to_i %>
      </br>
      <i class="material-icons">stars</i>Rating: <%= @foursquare.pick_rating %>
    </div>
  </div>
<% end %>
</div>

<div class="row">
<div class="google-maps centered">
  <% if @foursquare.results_count.zero? %>
    <% '' %>
  <% elsif @selection.lat == ""%>
    <iframe
    width="80%"
    height="450"
    frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/place?key=<%=ENV['google_maps_api_key']%>&q=<%= @foursquare.pick_name.gsub(/\&/,"")+"+"+@foursquare.pick_address.gsub(/\([^)]*\)/,"")+"+"+@foursquare.pick_city_and_zip%>" allowfullscreen>
    </iframe>
  <% else %>
    <iframe
      width="80%"
      height="450"
      frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed/v1/directions?key=<%=ENV['google_maps_api_key']%>&origin=<%=@selection.lat+","+@selection.long %>&destination=<%= @foursquare.pick_name.gsub(/\&/,"")+"+"+@foursquare.pick_address.gsub(/\([^)]*\)/,"")+"+"+@foursquare.pick_city_and_zip%>" allowfullscreen>
    </iframe>
<% end %>
</div>
</div>
</main>

<footer class="page-footer red lighten-1">
<div class="footer-copyright">
      <div class="container">
      Made by Mike Pitre, 2015.
      </div>
    </div>
  </footer>


