<!DOCTYPE html>
<html>
<head>
  <title>picky.</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Magra' rel='stylesheet' type='text/css'>
  <!--Import materialize.css-->
  <!-- <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/> -->
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!--   <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href=/"css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/> -->

</head>
<body>
  <div class="navbar-fixed">
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/" class="brand-logo">picky.</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/users/sign_up">Sign Up</a></li>
        <% if user_signed_in? %>
            <li><%= link_to 'Log Out', destroy_user_session_path, :method => :delete %></li>
          <% else %>
            <li><%= link_to 'Log In', "/users/sign_in" %></li>
        <% end %>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/selections/new">Get a Pick!</a></li>
        <li><a href="/users/sign_up">Sign Up</a></li>
        <% if user_signed_in? %>
            <li><%= link_to 'Log Out', destroy_user_session_path, :method => :delete %></li>
          <% else %>
            <li><%= link_to 'Log In', "/users/sign_in" %></li>
        <% end %>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  </div>


  <%= yield %>

</body>
</html>
